# App
PORT=3000
NODE_ENV=development

# Database
MONGO_USER=mongo
MONGO_PASS=mongo
MONGO_DB=ticketdb
MONGO_URI=mongodb+srv://mongo:mongo@cluster0.fushxee.mongodb.net/ticketdb?retryWrites=true&w=majority&appName=Cluster0

STRIPE_API_KEY=sk_test_
STRIPE_CHECKOUT_SUCCESS_URL=http://localhost:3000/checkout/success
STRIPE_CHECKOUT_CANCEL_URL=http://localhost:3000/checkout/cancel
STRIPE_WEBHOOK_SECRET=whsec_

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
