services:
  api:
    build:
      context: .
      target: ${BUILD_TARGET:-dev}
    container_name: nest-api
    env_file: .env
    ports:
      - "${APP_PORT:-3000}:3000"
    depends_on: [mongodb]
    environment:
      - MONGO_URI=${MONGO_URI}
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  mongo-data:

