@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply min-h-screen bg-[#D9D9D9] font-montserrat;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-1rem); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}
.event-item {
    position: relative;
}

.event-card {
    transition:
        transform 0.35s cubic-bezier(0.22, 0.61, 0.36, 1),
        box-shadow 0.35s ease;
    transform-origin: center;
    z-index: 1;
    position: relative;
}

.event-card.hovered {
    transform: scale(1.12);
    z-index: 50 !important;
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.35);
}

.scroll-container.dim-others .event-card:not(.hovered) {
    filter: brightness(0.6) blur(1px);
    transform: scale(0.95);
    transition: 0.3s ease;
}
.mybg {
  @apply bg-gradient-to-r from-primary to-myred;
}
:root {
  --toastify-color-success: #33bc8e; 
  --toastify-color-warning: #e4a73e; 
  --toastify-color-error: #BE300A;   
  --toastify-color-info: #0e5ddc;    
  
  --toastify-toast-width: 300px;
 
  --toastify-color-progress-success: #10b981;
  --toastify-color-progress-error: #ef4444;
}
.Toastify__toast {
  font-family: "Montserrat", system-ui, sans-serif;
  font-size: 13px;
  border-radius: 13px;
}